**/__pycache__
.eggs/
credentials
.vscode
.envrc1
cdh.egg-info/
.idea
**/.DS_Store
build
dist
out/
pipo/
venv/
infrastructure/.terraform/
infrastructure/terraform.tfstate.backup
VERSION-BINARY
cdh.spec
.github/*/**
